:root {
  --pb-2: #2609ff;
  --pb-1: #533cff;
  --p: #806fff;
  --pl-1: #ada2ff;
  --pl-2: #dad5ff;
}
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cafe24Ohsquareair";
  background-color: #dad5ff;
}
.header {
  margin-top: 30px;
  margin-bottom: 10px;
}
.header-title {
  color: #2609ff;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.btn {
  border-radius: 30px;
  background-color: #806fff;
  font-size: 1.5rem;
  color: #dad5ff;
  padding: 7px;
}
.btn:hover {
  cursor: pointer;
  background-color: #2609ff;
}

.content-header {
  text-align: center;
  margin-bottom: 50px;
}
.content-body--modal--new {
  text-align: center;
  position: relative;
  left: 30px;
}
.modal--new__input {
  height: 50px;
  width: 400px;
  border-radius: 20px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* position: relative;
  left: 30px; */
  margin-right: 5px;
  font-size: 1.5rem;
  text-align: center;
}
.modal--new__input::placeholder {
  text-align: center;
  font-size: 1.5rem;
}
.modal--new__input:focus::placeholder {
  color: white;
}
.modal--new__btn--submit {
}
.content-body__list {
  display: block;
}

.todolist {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.changeTitle {
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
}
.chkBox {
  margin-left: 0.4rem;
  width: 1.1rem;
  height: 1.1rem;
}
.hidden {
  display: none;
}
i {
  font-size: 1.2rem;
  margin-left: 0.4rem;
}
i:hover {
  cursor: pointer;
}
